.App {
  text-align: center;
  background-image: url('https://wallpaper.dog/large/17062157.jpg');
  height: 100vh;
}
.imgcontainer{
  width: 31rem;
  margin: auto;
  max-height: 50vh;
}
.dog{
  background: #939191;
  margin: auto;
  width: 27%;
  padding: 7rem;
}
button{
  background: #dfb361;
padding: 1rem;
font-size: 1rem;
border: none;
color: white;
font-weight: bold;
}
img{
  width: inherit;
  max-height: inherit;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
